apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: notification-service-monitor
  namespace: monitoring
  labels:
    release: kube-prometheus-stack # Critical: Must match your Helm app name
spec:
  selector:
    matchLabels:
      app: notification-service
  namespaceSelector:
    matchNames:
      - default
  endpoints:
  - port: http
    path: /metrics
    interval: 15s